@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import "partials/_resets";
@import "partials/_clearfix";


// Variables
$base_font_size: 16px;
$base_slight_larger: 1.0625rem;
$light_grey: #717175;
$dark_grey: #2C2C2E;
$light_orange: #EF6D44;
$orange: #ED4E24;
$dark_orange: #A6301D;
$gutter: 10px;

$screen: "screen and ";
$breakpoints: (
  'small': (min-width: 500px),
  'medium': (min-width: 715px),
  'large': (min-width: 930px),
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{$screen}#{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.'
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: $base_font_size;
}

body {
  background: url(../assets/bg.jpg);
}

h1, h2, h3 {
  font: $base_font_size 'Oswald', sans-serif;
}

/* Header styles */
header {
  position: relative;
  background: white;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);

  .logo {
    position: relative;
    background: url(../assets/logo.svg) no-repeat left 4px;
    height: 65px;
    width: 120px;
    margin: 0 0 0 8px;

    @include respond-to('medium') {
      margin: auto;

      &:before {
        content: " ";
        position: absolute;
        background: url(../assets/header_bg.svg) no-repeat;
        top: 27px;
        left: -146px;
        width: 410px;
        height: 10px;
      }
    }
  }
  
  h1 {
    visibility: hidden;
  }

  .add-panel {
    float: right;
    position: relative;
    height: 30px;
    width: 30px;
    border: 2px solid $light_orange;
    margin: 17px 20px 17px;

    &:before {
      content: " ";
      position: absolute;
      top: 11px;
      left: 4px;
      width: 18px;
      height: 1px;
      border-top: 3px solid $dark_orange;
    }

    &:after {
      content: " ";
      position: absolute;
      top: 4px;
      left: 11px;
      width: 1px;
      height: 18px;
      border-left: 3px solid $dark_orange;
    }
  }
}
/* Navigation styles */
nav {
  margin: auto;
  text-align: center;
  background: $dark_grey;
  
  ul {
    list-style: none;
    max-width: 500px;
    margin: auto;

    li {
      position: relative;
      display: inline-block;
      width: 32%;
      padding: 0 25px;
      border-left: 1px solid $light_grey;

      &:first-child {
        border-left: none;
      }
      
      @include respond-to('small') {
        width: auto;
      }

      @include respond-to('medium') {
        padding: 0 9px;
        border-left: none;

        &:before {
          position: absolute;
          content: "\2022";
          color: $light_grey;
          left: -6px;
          top: 0.7rem;
        }

        &:first-child:before {
          content: " ";
        }
      }

      a {
        display: block;
        color: $light_grey;
        text-decoration: none;
        text-transform: uppercase;
        font: $base_slight_larger 'Oswald', sans-serif;
        line-height: 2.6;
      }
    }
  }
}

/* Grid styles */
.container {
  margin: auto;
  width: 470px;

  @include respond-to('medium') {
    width: 715px;
    margin-top: 32px;
  }


}

.grid {
  margin: 0;
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;

  padding: 0 $gutter 12px 0;

  @include respond-to('medium') {
    padding: 0 25px 25px 0;
  }
  .grid &:last-of-type {
    padding-right: 0;
  }
}

.col-1-2 {
  width: auto;

  &:nth-child(2n+1) {
    clear: left;
  }

  @include respond-to('medium') {
    width: 50%

  }
}

/* Opt-in outside padding */
.grid-gutter {
  padding: $gutter 0 0 $gutter;
  [class*='col-']:last-of-type {
    padding-right: $gutter;

    @include respond-to('medium') {
      padding-right: 25px;
    }
  }
}

/* Panel content styles */
.panel {
  max-width: 450px;
  background: white;
  padding: 25px 20px 20px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);

  .image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light_grey;

    @include respond-to('medium') {
      height: 175px;
    }
  }

  h2 {
    font-size: 1.625rem;
    line-height: 1.2;
    padding: 12px 0 8px;
    color: $dark_grey;

    @include respond-to('medium') {
      font-size: 1.25rem;
    }
  }

  .panel-details {
    margin-bottom: 20px;

    span {
      color: $light_grey;
      font-size: $base_slight_larger;
      padding-right: 10px;

      &:before {
        position: relative;
        content: "\2022";
        color: $light_grey;
        left: -5px;
        
      }

      &:first-child:before {
        content: " ";
      }
      @include respond-to('medium') {
        font-size: 0.9rem;
      }
    }
  }

  p {
    font-size: 1.1rem;
    line-height: 1.2;
    color: $dark_grey;

    @include respond-to('medium') {
      font-size: 0.9rem;
    }
  }

}
