@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato);
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: ' ';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

body {
  background: url(../assets/bg.jpg); }

h1, h2, h3 {
  font: 16px 'Oswald', sans-serif; }

header {
  position: relative;
  background: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); }
  header .logo {
    position: relative;
    background: url(../assets/logo.svg) no-repeat left 4px;
    height: 65px;
    width: 120px;
    margin: 0 0 0 8px; }
    @media (min-width: 715px) {
      header .logo {
        margin: auto; }
        header .logo:before {
          content: " ";
          position: absolute;
          background: url(../assets/header_bg.svg) no-repeat;
          top: 27px;
          left: -146px;
          width: 410px;
          height: 10px; } }
  header h1 {
    visibility: hidden; }
  header .add-panel {
    float: right;
    position: relative;
    height: 30px;
    width: 30px;
    border: 2px solid #EF6D44;
    margin: 17px 20px 17px; }
    header .add-panel:before {
      content: " ";
      position: absolute;
      top: 11px;
      left: 4px;
      width: 18px;
      height: 1px;
      border-top: 3px solid #A6301D; }
    header .add-panel:after {
      content: " ";
      position: absolute;
      top: 4px;
      left: 11px;
      width: 1px;
      height: 18px;
      border-left: 3px solid #A6301D; }

nav {
  margin: auto;
  text-align: center;
  background: #2C2C2E; }
  nav ul {
    list-style: none;
    max-width: 500px;
    margin: auto; }
    nav ul li {
      position: relative;
      display: inline-block;
      width: 32%;
      padding: 0 25px;
      border-left: 1px solid #717175; }
      nav ul li:first-child {
        border-left: none; }
      @media (min-width: 500px) {
        nav ul li {
          width: auto; } }
      @media (min-width: 715px) {
        nav ul li {
          padding: 0 9px;
          border-left: none; }
          nav ul li:before {
            position: absolute;
            content: "\2022";
            color: #717175;
            left: -6px;
            top: 0.7rem; }
          nav ul li:first-child:before {
            content: " "; } }
      nav ul li a {
        display: block;
        color: #717175;
        text-decoration: none;
        text-transform: uppercase;
        font: 1.0625rem 'Oswald', sans-serif;
        line-height: 2.6; }

.container {
  margin: auto;
  width: 470px; }
  @media (min-width: 715px) {
    .container {
      width: 715px;
      margin-top: 32px; } }

.grid {
  margin: 0; }
  .grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding: 0 10px 12px 0; }
  @media (min-width: 715px) {
    [class*='col-'] {
      padding: 0 25px 25px 0; } }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

.col-1-2 {
  width: auto; }
  .col-1-2:nth-child(2n+1) {
    clear: left; }
  @media (min-width: 715px) {
    .col-1-2 {
      width: 50%; } }

/* Opt-in outside padding */
.grid-gutter {
  padding: 10px 0 0 10px; }
  .grid-gutter [class*='col-']:last-of-type {
    padding-right: 10px; }
    @media (min-width: 715px) {
      .grid-gutter [class*='col-']:last-of-type {
        padding-right: 25px; } }

.panel {
  max-width: 450px;
  background: white;
  padding: 25px 20px 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); }
  .panel img {
    width: 100%; }
  .panel h2 {
    font-size: 1.625rem;
    line-height: 1.2;
    padding: 12px 0 8px;
    color: #2C2C2E; }
    @media (min-width: 715px) {
      .panel h2 {
        font-size: 1.25rem; } }
  .panel .panel-details {
    margin-bottom: 20px; }
    .panel .panel-details span {
      color: #717175;
      font-size: 1.0625rem;
      padding-right: 10px; }
      .panel .panel-details span:before {
        position: relative;
        content: "\2022";
        color: #717175;
        left: -5px; }
      .panel .panel-details span:first-child:before {
        content: " "; }
      @media (min-width: 715px) {
        .panel .panel-details span {
          font-size: 0.9rem; } }
  .panel p {
    font-size: 1.1rem;
    line-height: 1.2;
    color: #2C2C2E; }
    @media (min-width: 715px) {
      .panel p {
        font-size: 0.9rem; } }
